<!-- Custom head -->
{{ with .OutputFormats.Get "RSS" -}}
  <link rel="alternate" type="{{ .MediaType.Type }}" title="{{ $.Site.Title }}" href="{{ .RelPermalink }}">
{{ end -}}
{{ with site.Home.OutputFormats.Get "RSS" -}}
  <link rel="alternate" type="{{ .MediaType.Type }}" title="{{ $.Site.Title }} Home Feed" href="{{ .RelPermalink }}">
{{ end -}}
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
<link rel="webmention" href="https://webmention.io/igotqweston.github.io/webmention" />
<link rel="microsub" href="https://aperture.p3k.io/microsub/1088">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7MSJRYKY8B"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7MSJRYKY8B');
</script>
