{{- $hidden := site.Params.doks.hiddenContributors | default slice -}}
{{- $visibleContributors := slice -}}
{{- range .Params.contributors -}}
  {{- if not (in $hidden .) -}}
    {{- $visibleContributors = $visibleContributors | append . -}}
  {{- end -}}
{{- end -}}
{{- $last := sub (len $visibleContributors) 1 -}}
<p>
  <small>
    <time class="dt-published" datetime="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}">{{- time.Format (default ":date_long" .Site.Params.dateFormat) .PublishDate -}}</time>
    {{- with .Params.categories -}}
      &nbsp;{{ i18n "in" }}&nbsp;
      {{- range $index, $category := . -}}
        {{ if gt $index 0 }}, {{ end -}}
        <a class="stretched-link position-relative link-muted p-category" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
      {{- end }}
    {{- end }}
    {{- with $visibleContributors -}}
      &nbsp;{{ i18n "by" }}&nbsp;
      {{- range $index, $contributor := . -}}
        {{- if gt $index 0 }}{{ if eq $index $last }} and {{ else }}, {{ end }}{{ end -}}
        {{- with $.Site.GetPage "taxonomyTerm" (printf "contributors/%s" (urlize .)) -}}
          {{ if .Params.avatar -}}
            {{ $image := .Resources.GetMatch (printf "**%s" .Params.avatar) -}}
            {{ $imageLq := $image.Resize "10x10 webp q95" -}}
            {{ $image = $image.Resize "24x24 webp q95" -}}
            <img class="rounded-circle w-auto mx-1 lazyload blur-up" src="{{ $imageLq.RelPermalink }}" data-src="{{ $image.RelPermalink }}" alt="{{ .Title }}" width="20" height="20">
          {{- end }}
        {{- end -}}
        <a rel="author" class="stretched-link position-relative p-author h-card" href="{{ "/contributors/" | relLangURL }}{{ . | urlize }}/"><span class="p-name">{{ . }}</span></a>
      {{- end }}
    {{- end -}}
    {{- /* NOTE: classes 'stretched-link position-relative' are necessary to properly display the title attribute on hover */ -}}
    <span class="stretched-link position-relative reading-time text-nowrap" title="{{ i18n "reading_time" }}">{{/* trim subsequent whitespace */ -}}
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
        <path d="M12 7v5l3 3"></path>
      </svg>
      {{- .ReadingTime }}&nbsp;{{ i18n "minute" .ReadingTime -}}
    </span>{{/* trim subsequent whitespace */ -}}
  </small>
</p>
